# --- Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
run_experiments.py
run_local.py

# --- Virtual Environment
.venv/
venv/
env/

# --- Result
outputs/
runs/
logs/
splits/
.exp/
__RESULT__/
__DATA__/
__Report__/

# --- OS
.DS_Store
Thumbs.db